#!/bin/sh
#
# $Id: backup.conf.sample,v 1.12 2007/09/22 06:45:50 iku Exp $
#

# mount_ro:     mount read-only after backing up (needs mount_check)
# mount_check:  check if disc has been mounted or not (partition)
# backups:      where to store backups (directory)
# keep_backups: how many backups to keep
#
# $keep_backups amount of snapshots
# will be kept for EACH filter.
mount_ro=YES
mount_check=wd1d
backups=/backups
keep_backups=3

# Who should receive logs?
#
# format is "email[@address.tld]"
mailto="root"

# Output (very verbose) debug info?
#
# "YES" to enable
debug=

# I/O timeout in seconds.
#
# 0 to disable.
io_timeout=600

# Minimum gigabytes and inodes to keep available.
#
# Used by externally launchable clean FS script.
minimum_space=3
minimum_inodes=10000

# Power off when finished?
#
# The value will be executed and empty value disables.
halt="/sbin/halt -p"

# Make dump?
exec_dump=YES

# FILTERS

# host:priority:expiration:filter_name
# 
# host:        IP or resolvable hostname
# priority:    priority when same host has multiple jobs 
#              (0 or higher number. Lowest "wins")
# expiration:  how many hours will the snapshot be valid
# filter_name: filter file name under config/filters/
#
backup_jobs=
