#!/bin/sh

# which machines to back up? (eg. "192.168.0.1 192.168.0.2")
machines=

# who to notify when certain machine is being backed up?
#notify_common="admin@host"
#notify_192.168.0.1="admin@remotehost1"
#notify_192.168.0.2="admin@remotehost2"

# where and how many backups to keep?
backups=/backups
keep_backups=5

# who should receive logs? (email)
mailto="root@localhost"

# output (very verbose) debug info?
debug=NO

# IO timeout in seconds, 0 disables
io_timeout=21600

# minimum gigabytes & inodes to keep available
minimum_space=3
minimum_inodes=10000

