#!/bin/sh
#

##
## Setup cleaning intervals
##

# Format is name:start:stop:rate

# Name is not used anywhere, feel free to use strings like "weekly".

# Start and stop define the interval that will be cleaned

# Rate: keep snapshot of every $first_int_rate hours
# Example:
# -> rate=6 -> keep 4 snapshots/day.
# -> rate=-1 -> keep all, no cleaning.
# -> rate=0 -> delete all

# The default value is:
# 1st 0 -> 72h: keep all
# 2nd 72h -> 14d: 4/d
# 3rd 14d -> 30d: 1/d
# 4th 30d -> 90d: 1/w
# 5th 90d -> 6 months: 1/month
# 6th 6 months -> infinite: delete all
# XXX: currently infite value will have to be faked with a large
#      enough number.

# name:start[d]:top[d]:rate[h]
cleaning_intervals="
1st:0:3:-1
2nd:3:14:6
3rd:14:30:24
4th:30:90:168
5th:90:180:720
6th:180:2000:0
"

# Minimum gigabytes and inodes to keep available.
#
# Used by externally launchable clean FS script.
# -1 to disable.
minimum_space=3
minimum_inodes=10000

# Who should receive logs?
#
# format is "email[@address.tld]"
mailto="root"

# Output (very verbose) debug info?
#
# "YES" to enable
debug=

# Rsync option passing. Use this to pass options
# directly to rsync. Doesn't override built-ins,
# only appends more options.
# -H preserves hardlinks
# -S saves space with sparse files
# -A and -X preserves ACL and extended attributes (might
# not work on all operating systems)
rsync_opts="-H -S"

# FILTERS

# src:srcpath:dst:dstpath:priority:expiration:min:filter:command
# 
# src:          [username@] + hostname
# srcpath:      path
# dst:          [username@] + hostname
# dstpath:      path
# priority:     priority when same host has multiple jobs 
#               (0 or higher number. Lowest "wins")
# min:		minimum number of backups to keep,
#		enter one comma separated number for each row
#		you have set up in cleaning_intervals
#		(0 or higher number)
# expiration:   how many hours will the snapshot be valid
# filter:       filter file name under config/filters/
# command_name: command to run on the remote
#
# %origin%      Where backups originated
# %filter%      Filter name
#
# Example to back up in pull mode client "root@foobar.tld"
#backup_jobs="
#root@foobar.tld:/:localhost:/backups/%origin%/%filter%:0:24:-1,11,4,5,1,0:full:rsync"
# Example to back up in push mode to "root@foobar.tld"
#backup_jobs="
#localhost:/:root@foobar.tld:/backups/%origin%/%filter%:0:24:-1,11,4,5,1,0:full:rsync"
